@model IEnumerable<Voice.Models.Message>
@{ ViewData["Title"] = "Chat Widget";
    var userName = User.Identity.Name; }

<head>
    <meta charset="UTF-8">
    <title>Chat Widget</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css'>
    <link rel="stylesheet" href="/css2/style.css">

</head>

<div class="container clearfix">
    <div class="people-list" id="people-list">

        <ul class="list">
            <li class="clearfix">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_01.jpg" alt="avatar" />
                <div class="about">

                    <i class="table-secondary"></i> &nbsp; Chat Widget
                    <i class="fa fa-star"></i>
                    <div class="status">
                        <i class="fa fa-circle online"></i> online
                    </div>
                </div>
            </li>

        </ul>
    </div>

    <div class="chat">

        <div class="chat-header clearfix">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_01_green.jpg" alt="avatar" />

            <nav class="navbar navbar-inverse">

                <div class="nav-item">
                    <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"> @User.Identity.Name!</a>
                </div>


                <form class="text-danger" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button type="submit" class="nav-link btn btn-link text-light">Вийти</button>
                </form>

            </nav>



        </div> <!-- end chat-header -->

        <div class="chat-history">


            <div class="jumbotron bg-light">


                <div class="row">
                    <div class="col-md-12" id="chat">
                        @if (Model != null)
                        {
                            @foreach (var message in Model.OrderBy(m => m.When))
                            {
                                string containerClass, timePosition, textAlign, contcolor, offset;
                                if (userName == message.UserName)
                                {
                                    containerClass = "container darker";
                                    timePosition = "time-right text-light";
                                    textAlign = "text-right text-white";
                                    contcolor = "bg-primary";
                                    offset = "col-md-6 offset-md-6";
                                }
                                else
                                {
                                    containerClass = "container";
                                    timePosition = "time-left";
                                    textAlign = "text-left";
                                    contcolor = "bg-light";
                                    offset = "";
                                }

                                <div class="row">
                                    <div class="@offset">
                                        <div class="@containerClass @contcolor">

                                            <p class="sender @textAlign">@message.UserName</p>
                                            <p class="@textAlign">@message.Text</p>
                                            <span class="@timePosition">@message.When.ToString("d/MM/yyyy H:mm tt")</span>
                                        </div>
                                    </div>
                                </div>}}
                    </div>
                    <div class="col-md-12">

                    </div>
                </div>
            </div>

        </div> <!-- end chat-history -->

        <div class="chat-message clearfix">
            <form asp-action="Create"
                  data-ajax-begin="clearInputField" data-ajax-complete=""
                  data-ajax-failure="alert('Fail')" data-ajax-success="sendMessage"
                  data-ajax="true" data-ajax-method="POST">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <textarea name="Text" class="form-control" id="messageText" placeholder="надрукуйте повідомлення" rows="2"></textarea>
                </div>
                <div class="form-group">
                    <i class="fa fa-file-o"></i> &nbsp;&nbsp;&nbsp;
                    <i class="fa fa-file-image-o"></i>
                    <button type="submit" value="Надіслати" id="submitButton">Відправити</button>
                </div>
                <input type="hidden" value="@userName" name="username" />
            </form>


        </div> <!-- end chat-message -->

    </div> <!-- end chat -->

</div> <!-- end container -->




@if (User.Identity.IsAuthenticated)
{
    <script>
        const userName = "@ViewBag.CurrentUserName";
    </script>
}


@section scripts {
    <script src="~/signalr/signalr.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/js/chat.js"></script>
    <script src="~/js/signalrReqHandler.js"></script>
}

